/*https://www.freepik.com/free-photo/medical-banner-with-doctor-holding-stethoscope_30555912.htm*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('/static/images/admin_bg.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #02063d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    position: relative;
    width: 100%;
    padding: 10px 20px;
    background: rgba(13, 82, 76, 0.6);
    color: #fff;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

header h1 {
    font-size: 18px;
    margin: 0;
    color: rgba(2, 43, 31, 0.884);
}

h1 {
    text-align: center;
    color: #2c3e50;
}

.logout-btn {
    background: #e74c3c;
    color: #fff;
    box-shadow: 0 4px 20px rgba(168, 236, 231, 0.3);
    font-size: 10px;
    font-weight: bold;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.logout-btn:hover {
    background: #c0392b;
}

.container {
    flex: 1;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(9px);
    color: #02362398;
    border-radius: 12px;
    padding: 30px 40px;
    width: 90%;
    max-width: 700px;
    margin: 20px auto;
    box-shadow: 0 4px 20px rgba(168, 236, 231, 0.3);;
}

.header {
    text-align: center;
    padding: 10px;
}

.center-text {
    text-align: center;
    margin-top: 20px;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
}

.user-table th, .user-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.user-table th {
    background-color: #f4f4f4;
}

.modify-btn, .delete-btn {
    font-size: 12px;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    box-shadow: 0 4px 20px rgba(168, 236, 231, 0.3);
    transition: background 0.3s ease, opacity 0.3s ease;
    cursor: pointer;
}

.modify-btn {
    background-color: #5ddbf1;
    color: white;
}

.modify-btn:hover {
    background: rgba(6, 128, 112, 0.9);
}

.delete-btn {
    background-color: #f44336;
    color: white;
}

.delete-btn:hover {
    background: rgba(138, 17, 4, 0.9);
}

.modify-btn:focus, .delete-btn:focus {
    outline: 3px solid #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

footer {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    position: relative;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
}